/* Custom properties */

:root {
  --spacer: 1rem;

  --clr-neutral-900: #171717;
  --clr-neutral-700: #333;
  --clr-neutral-300: #cfcfcf;
  --clr-neutral-100: #fff;
  --clr-accent-400: #59e89c;
  --clr-accent-500: #00986a;

  --ff-primary: "PT Sans", sans-serif;

  --fw-700: 700;
  --fw-400: 400;

  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);

  --h1-h2-fs: 36px;
  --h3-fs: 24px;
  --p-fs: 18px;
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1, h2 {
  font-size: var(--h1-h2-fs);
}

h2 {
  margin-bottom: 1rem;
}

h3 {
  font-size: var(--h3-fs);
}

p {
  font-size: var(--p-fs);
  color: var(--clr-neutral-300);
}

/* Utility classes */
.flow-content > * + * {
  margin-top: 1.25rem;
}

.container {
  padding: 6rem 6rem;
}

/* general styling */

body {
  font-family: var(--ff-primary);
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--clr-neutral-900);
  margin: 0;
}

h1 {
  font-weight: 400;
}

h1 span {
  font-weight: 700;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 1.125rem;
  color: inherit;
  padding: 0.75em 1.5em;
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-900);
}

/* HERO */

.hero p {
  /* border: 1px solid #000; */
  color: var(--clr-neutral-700);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

.grid .flow-content {
  align-self: center;
}

.hero__img {
  /* border: 1px solid red; */
}

.hero__img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* MASTERING */
.mastering {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}

.mastering h2 {
  color: var(--clr-accent-400);
}

/* CTA */
.cta {
  background-image: url('assets/cta-bg.jpg');
  background-position: center;
  background-size: cover;
  color: var(--clr-neutral-100);
  text-align: center;
  /* border:  1px solid yellow; */
}

/* SERVICES */

.services .grid {
  gap: 2rem;
}

.services li {
  position: relative;
}

.services li::before {
  content: '';
  width: 80px;
  height: 80px;
  background-color: var(--clr-accent-400);
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -1;
}

.services p {
  color: var(--clr-neutral-700);
}
